body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px; }

a img {
  border: none; }

a {
  color: #0000FF; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px; }

#top_navigation ul {
  list-style-type: none;
  float: right; }
#top_navigation li {
  float: left;
  padding: 0 5px;
  border-left: 1px solid #000; }
  #top_navigation li:first-child {
    float: left;
    padding: 0 5px;
    border-left: none; }

#flash_notice {
  padding: 5px 8px;
  margin: 10px 0;
  background-color: #CFC;
  border: solid 1px #6C6; }

#flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
  background-color: #FCC;
  border: solid 1px #C66; }

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px; }
  .error_messages h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 12px;
    margin: 0;
    background-color: #c00;
    color: #fff; }
  .error_messages p {
    margin: 8px 10px; }
  .error_messages ul {
    margin: 0; }

form.simple_form .input {
  margin-top: 10px; }
  form.simple_form .input label {
    vertical-align: top;
    margin-right: 20px;
    display: inline-block;
    text-align: right;
    width: 100px; }
    form.simple_form .input label abbr {
      float: right;
      width: 0;
      color: #F00; }
  form.simple_form .input input.string, form.simple_form .input textarea.text {
    width: 300px; }
  form.simple_form .input textarea.text {
    height: 100px; }
  form.simple_form .input span.error {
    display: block;
    margin-left: 120px;
    clear: both;
    padding-left: 20px;
    background: url("/images/icons/error_log_icon.gif") center left no-repeat; }
form.simple_form .buttons {
  padding-left: 120px; }
