#header, #site, #footer {
  .wrapper {
    width: 960px;
    margin:0 auto;
  }
}

body {
  font-family: sans-serif;
}

@import 'header';
@import 'footer';

@mixin flash-message {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  @include flash-message;
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  @include flash-message;
  background-color: #FCC;
  border: solid 1px #C66;
}
