@mixin rounded-border($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin gradient-background-color($start, $end) {
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#{$start}',endColorstr='#{$end}');
  background: -webkit-gradient(linear,0% 0,0% 100%,from($start),to($end));
  background: -moz-linear-gradient(270deg,$start,$end);
}
@mixin box-shadow($x, $y, $r, $color) {
  -webkit-box-shadow: $x $y $r $color;
  -moz-box-shadow: $x $y $r $color;
  box-shadow: $x $y $r $color;
}
@mixin text-shadow($x, $y, $r, $color) {
  -webkit-text-shadow: $x $y $r $color;
  -moz-text-shadow: $x $y $r $color;
  text-shadow: $color $x $y $r;
}

@mixin clearfix {
  display: inline-block;
  &:after {
  	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
  }
  
  html[xmlns] & {
      display: block;
  }

  * html & {
      height: 1%;
  }
}
.clearfix {
  @include clearfix;
}
